<% let nameFilter=[]; %> <% let categoryFilter=[]; %>  <% let batchFilter=[]; %> <%
let breedFilter=[]; %>

  
   
   <form action="/animal" method="GET">
  <div class="ui action input">
  <input type="text" placeholder="Tag no" name="search">
  <button class="ui icon btn2 button">
    <i class="search icon"></i>
  </button>
</div>
 </form> 
    <a class="ui button btn"  href="/animal/new">Add a Batch</a>   

 

  



<div class="ui labeled icon top right pointing dropdown right floated btn button">
  <i class="sliders horizontal icon"></i>
  <span class="text">Sort</span>
  <div class="menu">
    
    <div class="header">
      <i class="calendar alternate outline icon"></i>
     Sort by Date  </a>
    </div>
    <div class="item">
      <i class="sort up icon"></i>
    <a class="ui sort-link" href="/animal?bydate=bydate ">  Asc</a>
    </div>
    
    <div class="item">
      <i class="sort down icon"></i>
      <a class="ui sort-link" href="/animal?bydatedes=bydatedes">Desc </a>
    </div>
    <div class="divider"></div>
   
    <div class="item">
      <i class="sitemap icon"></i>
     <a class="ui sort-link" href="/animal?byquantity=byquantity">Quantity</a>
    </div>
    <div class="item">
      <i class="tags icon"></i>
     <a class="ui sort-link" href="/animal?bycategory=bycategory">Category </a>
    </div>
    
  </div>
</div>




<div class="ui  accordion">
      <div class="title">
        <div class="title">
        <div class="ui btn button">Filter</div>
      </div>
      </div>
      <div class="content">
        <div class="ui grid">
          <div class="ui eleven wide column">
            <form action="/animal" method="GET">
              <div class="ui segments">
                <div class="ui horizontal segments">
                  <div class="ui segment">
                  <p>Name</p>
                  <% names.forEach(function(name, i) { %> <%
                  if(!nameFilter.includes(name)) {%> <% nameFilter.push(name) %>
                  <div class="field">
                    <div class="ui checkbox">
                      <input
                        type="checkbox"
                        class="hidden chkbx"
                        name="name[]"
                        value="<%= name %>"
                      />
                      <label for="name"><%= name %></label>
                      <br />
                    </div>
                  </div>

                  <% } %> <% } )%>
                </div>
                 <div class="ui segment">
                  <p>Category</p>
                  <% for(let category of categories) {%> <%
                  if(!categoryFilter.includes(category)) {%> <%
                  categoryFilter.push(category) %>
                  <div class="field">
                    <div class="ui checkbox">
                      <input
                        type="checkbox"
                        class="hidden"
                        name="category[]"
                        value="<%= category %>"
                      />
                      <label for="category"><%= category %></label>
                      <br />
                    </div>
                  </div>

                  <% } %> <% } %>
                </div>
    
                 </div>
                
                   <div class="ui horizontal segments">
               
                 <div class="ui segment">
                  <p>Batch</p>
                  <% for(let group of batch) {%> <%
                  if(!batchFilter.includes(group)) {%> <%
                  batchFilter.push(group) %>
                  <div class="field">
                    <div class="ui checkbox">
                      <input
                        type="checkbox"
                        class="hidden"
                        name="batch[]"
                        value="<%= group %>"
                      />
                      <label for="batch"><%= group %></label>
                      <br />
                    </div>
                  </div>

                  <% } %> <% } %>
                </div>
                <div class="ui segment">
                  <p>Breed</p>
                  <% for(let variety of breed) {%> <%
                  if(!breedFilter.includes(variety)) {%> <%
                  breedFilter.push(variety) %>
                  <div class="field">
                    <div class="ui checkbox">
                      <input
                        type="checkbox"
                        class="hidden"
                        name="breed[]"
                        value="<%= variety %>"
                      />
                      <label for="breed"><%= variety %></label>
                      <br />
                    </div>
                  </div>

                  <% } %> <% } %>
                </div>
             </div>
   
              </div>
               <a class="ui btn2 button" href="/animal">Reset</a>
              <button class="ui btn button" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  
   
  

