<% let nameFilter=[]; %>

<div class="ui labeled icon top right pointing dropdown right floated button">
  <i class="sliders horizontal icon"></i>
  <span class="text">Sort</span>
  <div class="menu">
    <div class="header">
      <i class="calendar alternate outline icon"></i>
      Sort by Date
    </div>
    <div class="item">
      <i class="sort up icon"></i>
      <a class="ui sort-link" href="/expense?asc=asc "> Asc</a>
    </div>

    <div class="item">
      <i class="sort down icon"></i>
      <a class="ui sort-link" href="/expense?des=des ">Desc </a>
    </div>
    <div class="divider"></div>

    <div class="item">
      <i class="sitemap icon"></i>
      <a class="ui sort-link" href="/expense?byname=byname">Name</a>
    </div>
    <div class="item">
      <i class="tags icon"></i>
      <a class="ui sort-link" href="/expense?byamount=byamount">Amount</a>
    </div>
  </div>
</div>

<div class="ui accordion">
  <div class="title">
    <a class="ui green button">Filter</a>
  </div>
  <div class="content">
    <div class="ui grid">
      <div class="ui eleven wide column">
        <form action="/expense" method="GET">
          <div class="ui segments">
            <div class="ui segment">
              <p>Name</p>
              <% names.forEach(function(name, i) { %> <%
              if(!nameFilter.includes(name)) {%> <% nameFilter.push(name) %>
              <div class="field">
                <div class="ui checkbox">
                  <input
                    type="checkbox"
                    class="hidden"
                    name="name[]"
                    value="<%= name %>"
                  />
                  <label for="name"><%= name %></label>
                  <br />
                </div>
              </div>

              <% } %> <% } )%>
            </div>
            <div class="ui horizontal segments">
              <div class="ui segment">
                <p>From</p>
                <div class="ui field input">
                  <label for="from"></label>
                  <input
                    type="date"
                    name="date[from]"
                    id="from"
                    value="<%=
                  query.date ? query.date.from : '' %>"
                  />
                </div>
              </div>

              <div class="ui segment">
                <p>To</p>
                <div class="ui field input">
                  <label for="to"></label>
                  <input
                    type="date"
                    name="date[to]"
                    id="from"
                    value="<%=
                  query.date ? query.date.to : '' %>"
                  />
                </div>
              </div>
            </div>
            <div class="ui horizontal segments">
              <div class="ui segment">
                <p>Min</p>
                <div class="ui action field input">
                  <label for="min"></label>
                  <input
                    type="number"
                    name="amount[min]"
                    id="min"
                    min="0"
                    step="1"
                    placeholder="Min"
                    value="<%= query.amount ? query.amount.min : '' %>"
                  />
                </div>
              </div>
              <div class="ui segment">
                <p>Max</p>
                <div class="ui action field input">
                  <label for="max"></label>
                  <input
                    type="number"
                    name="amount[max]"
                    id="max"
                    min="0"
                    step="1"
                    placeholder="Max"
                    value="<%= query.amount ? query.amount.max : '' %>"
                  />
                </div>
              </div>
            </div>
          </div>
          <a class="ui red button" href="/expense">Reset</a>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
