<% let nameFilter=[]; %> <% let taskFilter=[]; %>  

  
 <!--
   <div class="ui labeled icon top right pointing dropdown right floated btn button">
  <i class="sliders horizontal icon"></i>
  <span class="text">Sort</span>
  <div class="menu">
    
    <div class="header">
      <i class="calendar alternate outline icon"></i>
     Sort by Date  </a>
    </div>
    <div class="item">
      <i class="sort up icon"></i>
    <a class="ui sort-link" href="/croptask?sDate=sDate ">  Start Date</a>
    </div>
    
    <div class="item">
      <i class="sort down icon"></i>
      <a class="ui sort-link" href="/croptask?dline=dline">Deadline</a>
    </div>
    <div class="divider"></div>
   
    
    <div class="item">
      <i class="tags icon"></i>
     <a class="ui sort-link" href="/croptask?bytask=bytask">Task</a>
    </div>
    
  </div>
</div>
 --> 
 
  
 
  
    <div class="ui accordion">
      <div class="title">
        <a class="ui btn button">Filter</a>
      </div>
      <div class="content">
        <div class="ui grid">
          <div class="ui eleven wide column">
            <form action="/croptask" method="GET">
              <div class="ui segments">
                <div class="ui horizontal segments">
                  <div class="ui segment">
                  <p>Name</p>
                  <% names.forEach(function(name, i) { %> <%
                  if(!nameFilter.includes(name)) {%> <% nameFilter.push(name) %>
                  <div class="field">
                    <div class="ui checkbox">
                      <input
                        type="checkbox"
                        class="hidden"
                        name="name[]"
                        value="<%= name %>"
                        <%= query.name && query.name.includes( name ) ? 'checked' : '' %>
                      />
                      <label for="name"><%= name %></label>
                      <br />
                    </div>
                  </div>

                  <% } %> <% } )%>
                </div>
                 <div class="ui segment">
                  <p>Task</p>
                  <% for(let cropTask of  cropTasks) {%> <%
                  if(!taskFilter.includes(cropTask)) {%> <%
                  taskFilter.push(cropTask) %>
                  <div class="field">
                    <div class="ui checkbox">
                      <input
                        type="checkbox"
                        class="hidden"
                        name="task[]"
                        value="<%= cropTask %>"
                        <%= query.task && query.task.includes( cropTask ) ? 'checked' : '' %>
                      />
                      <label for="task"><%= cropTask %></label>
                      <br />
                    </div>
                  </div>

                  <% } %> <% } %>
                </div>
    
                 </div>
                 
                   <div class="ui segment">
                    <p>Status</p>
                    <div class="field">
                      <div class="ui checkbox">
                        <input
                          type="checkbox"
                          class="hidden"
                          name="status[]"
                          value="Completed"
                          <%= query.status && query.status.includes( "Completed" ) ? 'checked' : '' %>
                        />
                        <label for="status">Completed</label>
                        <br />
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui checkbox">
                        <input
                          type="checkbox"
                          class="hidden"
                          name="status[]"
                          value="In progress"
                          <%= query.status && query.status.includes( "In Progress" ) ? 'checked' : '' %>
                        />
                        <label for="status">In Progress</label>
                         <br />
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui checkbox">
                        <input
                          type="checkbox"
                          class="hidden"
                          name="status[]"
                          value="Pending"
                          <%= query.status && query.status.includes( "Pending" ) ? 'checked' : '' %>
                        />
                        <label for="status">Pending</label>
                        <br />
                      </div>
                    </div>
                  </div>
   
              </div>
               <a class="ui btn2 button" href="/croptask">Reset</a>
              <button class="ui btn button" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

