<% layout('layouts/boilerplate') %>




    <% let totalExpense=0; %>
    <% if(currentUser && currentUser.isAdmin) {%>
    <a class="button btn ui" href="/cropexpense/new">Add an Expenditure</a>
    <% } %> 
           
            <%- include('../partials/cropExpenses') %>
             <h1 class=" ui header center aligned"> Crop Expenses</h1>
            <table class="ui celled selectable unstackable table">
                <thead>
                    <tr>
                      <th class="color-green">Crop</th>
                        <th class="color-green">Expense</th>
                        <th class="color-green">Date</th>
                        <th class="color-green">Amount</th>
                        <th class="right aligned color-green">Action</th>

                    </tr>
                </thead>
                <% for(let expense of expenses.docs){ %>
                    <tbody>
                        <tr>
                          <td>
                                <%= expense.name %>
                            </td>
                            <td>
                                <%= expense.expense %>
                            </td>

                            <td>
                                <%=  expense.date.toDateString()  %>
                            </td>


                            <td>
                                <%= expense.amount %>
                            </td>

                            <td class="right aligned">
                                <a href="/cropexpense/<%= expense._id %>"><i
                                        class=" green caret square right outline float right icon"></i></a>
                            </td>

                        </tr>
                        <% expense.amount !==undefined ?  totalExpense  +=expense.amount : totalExpense +=0 %>
                            <% } %>
                                <tr>
                                    <td class="color-green">Total</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <%= totalExpense %>
                                    </td>
                                    <td></td>
                                </tr>
            </table>

          


<% if (expenses.totalPages > 1) {%>
  <div class="ui   grid">
  <div class="ui eleven wide column centered">
<div class="ui small basic icon buttons">
   <% if (expenses.prevPage) {%>
  <a class="ui btn page-num button" href="/cropexpense?page=<%= expenses.prevPage %> "><i class="left  chevron icon"></i></a>
  <% } %>
  <%for (let i = 1; i <= expenses.totalPages; i++) {%>
  <a class="ui btn button page-num   " href="/cropexpense?page=<%= i %>"
     <%= i===expenses.page ? "style = color:yellow!important;" : "style = color:white!important;"%> ><%= i %></a>
      <% } %>
      <% if (expenses.nextPage ) {%>
  <a class="ui btn page-num button"  href="/cropexpense?page=<%= expenses.nextPage %> "><i class="right chevron icon"></i></a>
  <% } %>
</div>
</div>
</div>
<% } %>