<% layout('layouts/boilerplate') %>
 <% if(currentUser && currentUser.isAdmin) {%>
<a class="button btn ui" href="/task/new">Add a Task</a>
<% } %> 
 <%- include('../partials/animalTask') %>
 <h1 class="ui center aligned header">Livestock Tasks</h1>
<table class="ui celled selectable unstackable table">
        <thead>
            <tr>
                <th class=" color-green">Task</th>
                <th class=" color-green">Deadline</th>
                <th class=" color-green">Members</th>
                <th class=" color-green">Status</th>
                <th class="right aligned color-green">Action</th>
    
            </tr>
        </thead>
        <% for(let task of tasks.docs){ %>
            <tbody>
                <tr>
                    <td>
                        <%= task.task %>
                    </td>
                    <td>
                        <%= task.deadline.toDateString()%>
                    </td>
                    <td>
                        <%= task.workers.join(', ') %>
                    </td>
                    <td>
                        <%= task.status %>
                    </td>
                    <td>
                        <a href="/task/<%= task._id %>"><i
                                class=" green caret square right outline float right icon"></i></a>
                    </td>
                </tr>
                <% } %>
    
    </table>
  
 <% if (tasks.totalPages > 1) {%>
  <div class="ui   grid">
  <div class="ui eleven wide column centered">
<div class="ui small basic icon buttons">
   <% if (tasks.prevPage) {%>
  <a class="ui btn page-num button" href="/task?page=<%= tasks.prevPage %> "><i class="left  chevron icon"></i></a>
  <% } %>
   <%for (let i = 1; i <= tasks.totalPages; i++) {%>
  <a class="ui btn button page-num   " href="/task?page=<%= i %>"
     <%= i === tasks.page ? "style = color:yellow!important;" : "style = color:white!important;"%> ><%= i %></a>
      <% } %>
      <% if (tasks.nextPage ) {%>
  <a class="ui btn page-num button"  href="/task?page=<%= tasks.nextPage %> "><i class="right chevron icon"></i></a>
  <% } %>
</div>
</div>
</div>
<% } %>