<% layout('layouts/boilerplate') %>

<div class="ui segments">
  <div class="ui centered huge header segment">
    <p><%= task.task %></p>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <p>To be lead by <%= task.leader %></p>
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <p>Start Date: <%= task.startDate.toDateString() %></p>
    </div>
    <div class="ui segment">
      <p><%= task.status %></p>
    </div>
    <div class="ui segment">
      <p>Deadline: <%= task.deadline.toDateString() %></p>
    </div>
  </div>
  <div class="ui segment">
    <p>Team Memebers: <%= task.workers.join(", ") %></p>
  </div>

  <div class="ui segment">
    <p><%= task.instructions %></p>
  </div>
  <div class="ui segment">
    <a class="ui green button" href="/task">Back</a>
    <div class="ui buttons right floated">
      <a href="/task/<%= task._id %>/edit" class="ui yellow button">Edit</a>
      <div class="or"></div>
      <button class="ui negative button" id="test">Delete</button>
      <div class="ui modal test">
        <div class="header">
          Are you sure you want to delete <%= task.task %> task?
        </div>
        <div class="content">
          <p>
            If you delete, <%= task.task %> task will be deleted permanently.
          </p>
        </div>
        <div class="actions">
          <div class="ui buttons right floated">
            <div class="segments horizontal ui">
              <div class="ui segment">
                <a href="" class="ui cancel mini yellow button">No</a>
              </div>
              <div class="ui segment">
                <form
                  action="/task/<%= task._id %>?_method=DELETE "
                  method="POST"
                >
                  <button class="ui negative button">Yes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
