<% layout('layouts/boilerplate') %>
<% let totalIncome=0; %>
    <% let totalExpense=0; %>
                        <h1> Livestock Income</h1>
    
                        <table class="ui celled selectable unstackable table">
                            <thead>
                                <tr>
                                    <th>Revenue</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th class="right aligned">Action</th>
    
                                </tr>
                            </thead>
                            <% for(let income of livestockIncome){ %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= income.income %>
                                        </td>
                                       
                                        <td>
                                            <%= income.date !== undefined ?  income.date.toDateString() : '' %>
                                        </td>
                                       
                                        
                                            <td>
                                            <%= income.amount !== undefined ? income.amount : ''%>
                                            </td>
                                           
                                        <td class="right aligned">
                                            <a href="/report/finance/livestock/<%= income._id %>"><i class=" green caret square right outline float right icon"></i></a>
                                        </td>
                                        
                                    </tr>
                                    <% income.amount !== undefined ?  totalIncome +=income.amount : totalIncome += 0 %>
                                        <% } %>
                                            <tr>
                                                <td>Total</td>
                                                <td></td>
                                                <td >
                                                    <%= totalIncome %>
                                                </td>
                                                    <td></td>
                                            </tr>
                        </table>
    
    
    
    
    
                        <h1> Livstock Expenses</h1>
    
                        <table class="ui celled selectable unstackable table">
                            <thead>
                                <tr>
                                    <th>Expenditure</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th class="right aligned">Action</th>
    
                                </tr>
                            </thead>
                            <% for(let expense of livestockExpenses){ %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= expense.expense %>
                                        </td>
                                        <td>
                                            <%= expense.date.toDateString() %>
                                        </td>
                                        <td><%= expense.amount %> </td>
                                        <td class="right aligned">
                                        <a href="/report/finance/livestocks/<%= expense._id %>"><i class=" green caret square right outline float right icon"></i></a>
                                        </td>
    
                                    </tr>
                                    <% totalExpense +=expense.amount %>
                                        <% } %>
                                            <tr>
                                                <td>Total</td>
                                                <td></td>
                                                <td >
                                                    <%= totalExpense %>
                                                </td>
                                                <td></td>
                                            </tr>
                        </table>
    
    
    
    
    
                        <% let livestockProfit=totalIncome - totalExpense %>
    
                            <div class="ui horizontal segments">
                                <div class="ui green segment">
                                    <p>Livestock Net profit</p>
                                </div>
                                <div class="ui yellow segment">
                                    <p>
                                        <%= livestockProfit %>
                                    </p>
                                </div>
                            </div>