<% layout('layouts/boilerplate') %>


<div class="ui   grid">
    <div class="ui eleven wide column centered">
        <a class="ui btn button" href="/field/<%= field._id %>">Back</a>
        <div class="ui raised segment">
            <form class="myFormValidate" action="/field/<%= field._id %>?_method=PUT" method="POST">
                <div class="ui  form">

                    <div class="field required">
                        <label for="name">Field Name</label>
                        <input type="text" id="name" name="field[name]"   value="<%= field.name %>">
                    </div>
                    <div class="field required">
                        <label for="location"> Location </label>
                        <input type="text" id="location" name="field[location]"   value="<%= field.location %>">
                    </div>
                    <div class="field required">
                        <label for="ownership">Ownership Type</label>
                        <input type="text" id="ownership" name="field[ownership]"   value="<%= field.ownership %>">
                    </div>
                    <div class="field required">
                        <label for="size">Size</label>
                        <input type="text" id="size" name="field[size]" value="<%= field.size %>">
                    </div>
                    <div class="field required">
                        <label for="soilType">Soil Type</label>
                        <input type="text" id="soilType" name="field[soilType]" value="<%= field.soilType %>">
                    </div>
                    <button class="ui button fluid btn">Update Field</button>
                </div>
                
            </form>

        </div>
    </div>
</div>








   