<% layout('layouts/boilerplate') %>


<a class="button green ui" href="/field/new">Add a Task</a>
<div class="ui grid stackable padded">
<% for(let field of fields.docs){ %>
   <div class="eight wide computer eight wide tablet sixteen wide mobile column">
 <div class="ui green raised segment">
        <div class="ui  very relaxed styled unstackable items">
            <div class="item">
                <div class="middle aligned content">
                    <div class="header">
                    <%= field.name %>
                            <a href="/field/<%= field._id %>"><i
                                    class=" green caret square right outline float right icon"></i></a>
                    </div>
                    <div class="extra">
                        <%= field.size %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%} %>
    </div>
    <% if (fields.totalPages > 1) {%>
<div class="ui   grid">
  <div class="ui eleven wide column centered">
    <div class="ui raised segment">
      <% if (fields.prevPage) {%>
        <a class="ui green button" href="/field?page=<%= fields.prevPage %> ">Prev</a>
        <% } %> 
  <%for (let i = 1; i <= fields.totalPages; i++) {%>
    
    <a href="/field?page=<%= i %>"
      <%= i === fields.page ? "style = color:yellow;" : "style = color:green;" %> 
      ><%= i %> </a>
  <%  }  %> 
      <% if (fields.nextPage ) {%>
        <a class="ui green button" href="/field?page=<%= fields.nextPage %> ">Next</a>
        <% } %>
    </div>
  </div>
</div>
<% } %>