 <% if(!currentUser) {%>
    <% layout('layouts/homepage')%>
<% }else {%>
      <% layout('layouts/boilerplate')%>
    <% } %>  

<div class="ui   grid">
    <div class="ui eleven wide column centered">
        <h1 class="ui huge header">Register</h1>
        <div class="ui raised segment">
            <form class="regFormValidate" action="/user/register" method="POST">
                <div class="ui  form">

                    <div class="field required">
                        <label for="username">Username</label>
                        <input type="text" id="username" value="<%= username %>" name="username" placeholder="Username">
                    </div>
                    <% if(currentUser) {%> 
                    <div class="field required">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" value="<%=fname %>" name="fname" placeholder="First Name">
                    </div>
                    <div class="field required">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" value="<%=lname %>" name="lname" placeholder="Last Name">
                    </div>
                    <% }else {%>
                    <div class="field required">
                        <label for="fname">Farm Name</label>
                        <input type="text" id="fname" value="<%=fname %>" name="fname" placeholder="First Name">
                    </div>
                    <div class="field required">
                        <label for="lname">Contact Person's Name</label>
                        <input type="text" id="lname" value="<%=lname %>" name="lname" placeholder="Last Name">
                    </div>

                        <% } %>  
                    <div class="field required">
                        <label for="email">Email</label>
                        <input type="email" id="email" value="<%=email %>" name="email" placeholder="Email">
                    </div>
                    <div class="field required">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" value="<%=phone %>" name="phone" placeholder="Phone">
                    </div>
                    <div class="field required">
                        <label for="password">Password</label>
                        <input type="password" id="new-password" value="<%=password %>" name="password" placeholder="Password">
                    </div>
                    <div class="field required">
                        <label for="confirmPW"> Confirm Password</label>
                        <input type="password" id="password-confirmation" value="<%=confirmPW %>"  placeholder="Re-type your password">
                    </div>
                    
                    <button class="ui button fluid btn" id="submit-btn">Register</button>
                </div>
                
                
            </form>
            <% if(!currentUser) {%> 
            <div class="input-foot">
                    <p>Have an account? <a href="/user/login">Login</a></p>
                 
                </div>
                <% } %> 
        </div>
    </div>
</div>



    