<% layout('layouts/boilerplate')%>



<div class="ui   grid">
    <div class="ui eleven wide column centered">
        <h1 class="ui huge header">Register</h1>
        <div class="ui raised segment">
            <form class="regFormValidate" action="/register" method="POST">
                <div class="ui  form">

                    <div class="field required">
                        <label for="username">Username</label>
                        <input type="text" id="username" value="<%= username %>" name="username" placeholder="Username">
                    </div>
                    <div class="field required">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" value="<%=fname %>" name="fname" placeholder="First Name">
                    </div>
                    <div class="field required">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" value="<%=lname %>" name="lname" placeholder="Last Name">
                    </div>
                    <div class="field required">
                        <label for="email">Email</label>
                        <input type="email" id="email" value="<%=email %>" name="email" placeholder="Email">
                    </div>
                    <div class="field required">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" value="<%=phone %>" name="phone" placeholder="Phone">
                    </div>
                    <div class="field required">
                        <label for="password">Password</label>
                        <input type="password" id="password" value="<%=password %>" name="password" placeholder="Password">
                    </div>
                    <div class="field required">
                        <label for="confirmPW"> Confirm Password</label>
                        <input type="password" id="confirmPW" value="<%=confirmPW %>" name="confirmPW" placeholder="Re-type your password">
                    </div>

                    <button class="ui button fluid green">Register</button>
                </div>
                <div class="ui error message"></div>
                <p>Already have an account? <a href="/login">Login</a></p>
            </form>

        </div>
    </div>
</div>



    