<% layout('layouts/boilerplate') %>
<div class="ui grid">
  <div class="ui eleven wide column centered">
    <a class="ui green button" href="/farmstock/<%= farmstock._id %>">Back</a>
    <div class="ui raised segment">
      <form
        class="myFormValidate"
        action="/farmstock/<%= farmstock._id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="ui form">
          <div class="field required">
            <label for="name">Name</label>
            <select name="farmstock[name]" id="name" class="ui dropdown search">
              <option value="<%= farmstock.name %> ">
                <%= farmstock.name %>
              </option>
              <option value="Chicken">Chicken</option>
              <option value="Catfish">CatFish</option>
              <option value="Cattle">Cattle</option>
              <option value="Sheep">Sheep</option>
              <option value="Goat">Goat</option>
              <option value="Rabbit">Rabbit</option>
              <option value="Snail">Snail</option>
              <option value="Grasscutter">Grasscutter</option>
              <option value="Horse">Horse</option>
              <option value="Donkey">Donkey</option>
              <option value="Guinea Pig">Guinea Pig</option>
            </select>
          </div>

          <div class="field required">
            <label for="tag"> Tag No </label>
            <input
              type="text"
              id="tag"
              name="farmstock[tag]"
              value="<%= farmstock.tag %> "
              readonly
            />
          </div>
          <div class="field required">
            <label for="variety">Breed</label>
            <input
              type="text"
              id="variety"
              name="farmstock[breed]"
              value="<%= farmstock.breed %> "
            />
          </div>
          <div class="field required">
            <label for="sire">Sire</label>
            <input
              type="text"
              id="sire"
              name="farmstock[sire]"
              value="<%= farmstock.sire %> "
            />
          </div>
          <div class="field required">
            <label for="dam">Dam</label>
            <input
              type="text"
              id="dam"
              name="farmstock[dam]"
              value="<%= farmstock.dam %> "
            />
          </div>
          <div class="ui form">
            <div class="field">
              <label for="sex">Sex</label>
              <select id="sex" name="farmstock[sex]" class="ui search dropdown">
                <option value="<%= farmstock.sex %> ">
                  <%= farmstock.sex %>
                </option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="field required">
            <label for="category">Category</label>
            <select
              name="farmstock[category]"
              id="status"
              class="ui dropdown search"
            >
              <option value="<%= farmstock.category %> ">
                <%= farmstock.category %>
              </option>
              <option value="Poultry">Poultry</option>
              <option value="Fishery">Fishery</option>
              <option value="Ruminant">Ruminant(Cattle, Sheep, Goat...)</option>
              <option value="Others">Others(Pig, Rabbit, Snail...)</option>
            </select>
          </div>
          <div class="field required">
            <label for="pstage">Production Stage</label>
            <input
              type="text"
              id="pstage"
              name="livestock[productionStage]"
              value="<%= farmstock.productionStage %> "
            />
          </div>
          <div class="field required">
            <label for="hStatus">Health Status</label>
            <input
              type="text"
              id="hStatus"
              name="farmstock[healthStatus]"
              value="<%= farmstock.healthStatus %> "
            />
          </div>

          <div class="field required">
            <label for="image">Image</label>
            <input
              type="file"
              id="image"
              name="image"
              value="<%= farmstock.image.url %>"
            />
          </div>
          <div class="field required">
            <label for="description">Brief Description</label>
            <textarea
              name="farmstock[description]"
              id="description"
              cols="30"
              rows="3"
            >
<%= farmstock.description %></textarea
            >
          </div>
          <button class="ui button fluid green">Update Livestock</button>
        </div>
      </form>
    </div>
  </div>
</div>
