<% layout('layouts/boilerplate') %>

 
   
  <%- include('../partials/farmstock') %>


<div class="ui grid stackable padded">

<% for(let animal of farmstock.docs){ %> 
   <div class="eight wide computer eight wide tablet sixteen wide mobile column">
  <div class="ui green raised segment">
<div class="ui  very relaxed styled unstackable items">
    <div class="item">
       <a href="/farmstock/<%= animal._id %>" class="ui tiny circular image">
                 <img src="<%= animal.image.url %> ">
       </a>
       <div class="middle aligned content">
          <div class="header ">
              <a class="color-green-h" href="/farmstock/<%= animal._id %>"><%= animal.tag %>
                <i class="  caret square right outline float right icon"></i></a>
           </div>
          <div class="description">
                 <p><%= animal.name %></p> 
          </div>
            <div class="extra">
               <%= animal.dob.toDateString() %>
            </div>
            <div class="extra">
               <p><%= animal.sex %></p> 
            </div>
            <div class="extra">
            
<div class="ui icon bottom right pointing dropdown right floated">
  <i class="trash  icon"></i>
  <div class="menu">
    
    <div class="item">Are you sure?</div>
    <div class="item"><form action="/farmstock/<%= animal._id %>?_method=DELETE " method="POST">
                 <button class="ui active button red right floated">
            Delete
              </button>
              </form>
            </div>
             <div class="item">  </div>
  </div>
</div>
          <div class="ui icon bottom left pointing ">
 <a href="/farmstock/<%=animal._id %>/edit" ><i class="edit yellow icon"></i></a>
 
            </div>      
            
           
          </div>
                    
                     </div>
    </div>

</div>
</div>
 

 </div>   
    
<%} %>

</div>



 <% if (farmstock.totalPages > 1) {%>
  <div class="ui   grid">
  <div class="ui eleven wide column centered">
<div class="ui small basic icon buttons">
   <% if (farmstock.prevPage) {%>
  <a class="ui btn page-num button" href="/farmstock?page=<%= farmstock.prevPage %> "><i class="left  chevron icon"></i></a>
  <% } %>
  <%for (let i = 1; i <= farmstock.totalPages; i++) {%>
  <a class="ui btn button page-num   " href="/farmstock?page=<%= i %>"
     <%= i === farmstock.page ? "style = color:yellow!important;" : "style = color:white!important;"%> ><%= i %></a>
      <% } %>
      <% if (farmstock.nextPage ) {%>
  <a class="ui btn page-num button"  href="/farmstock?page=<%= farmstock.nextPage %> "><i class="right chevron icon"></i></a>
  <% } %>
</div>
</div>
</div>
<% } %>

