<% layout('layouts/boilerplate') %>
<div class="ui segments">
  <div class="ui segment">
    <div class="ui three column centered grid">
      <div class="column">
        <div class="ui medium rounded image owl-carousel owl-theme">
          <img src="<%= farmstock.image.url %> " />
        </div>
      </div>
    </div>
    <div class="ui segments">
      <div class="ui horizontal segments">
        <div class="ui huge header segment">
          <p><%= farmstock.tag %></p>
        </div>
        <div class="ui huge header segment">
          <p>DOB: <%= farmstock.dob.toDateString() %></p>
        </div>
      </div>

      <div class="ui segment">
        <p><%= farmstock.breed%></p>
      </div>
      <div class="ui horizontal segments">
        <div class="ui segment">
          <p>Sire: <%= farmstock.sire %></p>
        </div>
        <div class="ui huge header segment">
          <p>Dam: <%= farmstock.dam %></p>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <p><%= farmstock.description%></p>
    </div>
    <div class="ui horizontal segments">
      <div class="ui segment">
        <p>Sex: <%= farmstock.sex %></p>
      </div>
      <div class="ui segment">
        <p><%= farmstock.productionStage %></p>
      </div>
    </div>
    <div class="ui horizontal segments">
      <div class="ui segment">
        <p><%= farmstock.healthStatus %></p>
      </div>

      <div class="ui segment">
        <p><%= farmstock.name %> </p>
      </div>
    </div>

    <div class="ui segment">
      <a class="ui green button" href="/farmstock">Back</a>

      <div class="ui buttons right floated">
        <a href="/farmstock/<%=farmstock._id %>/edit" class="ui yellow button"
          >Edit</a
        >
        <div class="or"></div>
        <button class="ui negative button" id="test">Delete</button>
        <div class="ui modal test">
          <div class="header">
            Are you sure you want to delete <%= farmstock.tag %>?
          </div>
          <div class="content">
            <p>
              If you delete, all data associated with <%= farmstock.tag %> will
              be deleted permanently.
            </p>
          </div>
          <div class="actions">
            <div class="ui buttons right floated">
              <div class="segments horizontal ui">
                <div class="ui segment">
                  <a href="" class="ui cancel mini yellow button">No</a>
                </div>
                <div class="ui segment">
                  <form
                    action="/farmstock/<%= farmstock._id %>?_method=DELETE "
                    method="POST"
                  >
                    <button class="ui negative button">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui horizontal segments">
  <div class="ui segment">
      <p>Add to Sold Livestock</p>
   <form action="/farmstock/<%= farmstock._id %>/sold" method="POST">
            <div class="ui right labeled input">
                 <label for="amount" class="ui label">₦</label>
                    <input type="number" placeholder="Enter Price" name="amount" id="amount">
                    <button class="ui icon button">
                        <i class="cart icon"></i>
                    </button>
                    </div>
            </form>
  </div>
  <div class="ui segment">
      <p>Add to Breeders</p>
    <form action="/farmstock/<%= farmstock._id %>/breeds" method="POST">
          <button class="ui active button">
  <i class="paw icon"></i>
  Breeder
</button>
        </form>
  </div>
  <div class="ui segment">
      <p>Mortality</p>
     <form action="/farmstock/<%= farmstock._id %>/dead" method="POST">
        <div class="ui action input">
  <input type="text" type="text" id="cause" name="cause" placeholder="Cause of Death"  required>
  <button class="ui icon button">
    <i class="heartbeat icon"></i>
  </button>
  </form>
</div>
</div>


  
</div>
