<% layout('layouts/boilerplate') %>
    <div class="ui   grid">
        <div class="ui eleven wide column centered">
            <a class="ui btn button" href="/income/<%= income._id %> ">Back</a>
            <div class="ui raised segment">
                <form class="myFormValidate" action="/income/<%= income._id %>?_method=PUT " method="POST">
                    <div class="ui  form">

                        <div class="field required">
                            <label for="income">Income</label>
                            <input type="text" id="income" name="income[income]" value="<%= income.income %>" >
                        </div>
                        <div class="field required">
                            <label for="name">Animal</label>
                            <select name="income[name]" id="name" class="ui tag dropdown search">
                                <option value="<%= income.name %> "><%= income.name %> </option>
                                <option value="Chicken">Chicken</option>
                                <option value="Turkey">Turkey</option>
              <option value="Ostrich">Ostrich</option>
              <option value="Guinea Fowl">Guinea Fowl</option>
               <option value="Pig">Pig</option>
              <option value="Catfish">CatFish</option>
              <option value="Cattle">Cattle</option>
              <option value="Sheep">Sheep</option>
              <option value="Goat">Goat</option>
              <option value="Rabbit">Rabbit</option>
              <option value="Snail">Snail</option>
              <option value="Grasscutter">Grasscutter</option>
              <option value="Horse">Horse</option>
              <option value="Donkey">Donkey</option>
              <option value="Guinea Pig">Guinea Pig</option>
                        
                            </select>
                        </div>
                        <div class="field required">
                            <label for="amount">Amount</label>
                            <input type="number" id="amount" name="income[amount]" value="<%= income.amount %>">
                        </div>
                        
                       <div class="field required">
            <label for="date">Date</label>
            <input
              type="date"
              id="date"
              name="income[date]"
             value="<%= date %>"
            />
          </div>
                        <div class="field  required">
                            <label for="note">Note</label>
                            <textarea name="income[note]" id="note" cols="30" rows="3"><%= income.income %> </textarea>
                        </div>
                        <button class="ui button fluid btn">Add</button>
                    </div>

                </form>

            </div>
        </div>
    </div>