<% layout('layouts/boilerplate') %>


    <% let totalIncome=0; %>
    <a class="button green ui" href="/income/new">Add an Event</a>
            
            <%- include('../partials/animalIncome') %>
            <h1 class=" ui header center aligned"> Livestock Income</h1>
            <table class="ui celled selectable unstackable table">
                <thead>
                    <tr>
                        <th>Revenue</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th class="right aligned">Action</th>

                    </tr>
                </thead>
                <% for(let income of inflow.docs){ %>
                    <tbody>
                        <tr>
                            <td>
                                <%= income.income %>
                            </td>

                            <td>
                                <%= income.date !==undefined ? income.date.toDateString() : '' %>
                            </td>


                            <td>
                                <%= income.amount !==undefined ? income.amount : '' %>
                            </td>

                            <td class="right aligned">
                                <a href="/income/<%= income._id %>"><i
                                        class=" green caret square right outline float right icon"></i></a>
                            </td>

                        </tr>
                        <% income.amount !==undefined ? totalIncome +=income.amount : totalIncome +=0 %>
                            <% } %>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td>
                                        <%= totalIncome %>
                                    </td>
                                    <td></td>
                                </tr>
            </table>

               <% if (inflow.totalPages > 1) {%>
<div class="ui   grid">
  <div class="ui eleven wide column centered">
    <div class="ui raised segment">
      <% if (inflow.prevPage) {%>
        <a class="ui green button" href="/income?page=<%= inflow.prevPage %> ">Prev</a>
        <% } %> 
  <%for (let i = 1; i <= inflow.totalPages; i++) {%>
    
    <a href="/income?page=<%= i %>"
      <%= i === inflow.page ? "style = color:yellow;" : "style = color:green;" %> 
      ><%= i %> </a>
  <%  }  %> 
      <% if (inflow.nextPage ) {%>
        <a class="ui green button" href="/income?page=<%= inflow.nextPage %> ">Next</a>
        <% } %>
    </div>
  </div>
</div>
<% } %>