<% layout('layouts/boilerplate') %>


  <div class="ui raised segments">
    <div class="ui segment green">
      <p class="ui huge color-green header">
        <%= income.income %>
      </p>
    </div>
    <div class="ui piled segments">
      <div class="ui yellow segment">
        <p>
          <%= income.date.toDateString() %>
        </p>
      </div>
      <div class="ui segment">
        <p>
          <%= income.amount %>
        </p>
      </div>
      <div class="ui segment">
        <p>
          <%= income.name %>
        </p>
      </div>
    </div>
    <div class="ui green segment">
      <p>
        <%= income.note %>
      </p>
    </div>
    <div class="ui yellow segment">
      <a class="ui btn button" href="/income">Back</a>
      <div class="ui buttons right floated">
        <a href="/income/<%=income._id %>/edit" class="ui btn2 button">Edit</a>
        <div class="or"></div>
        <button class="ui  negative button" id="test">Delete</button>
        <div class="ui modal test">
          <div class="header">Are you sure you want to delete <%= income.income %>? </div>
          <div class="content">
            <p>If you delete, all data associated with <%= income.income %> will be deleted permanently.</p>
          </div>
          <div class="actions">
            <div class="ui buttons right floated ">
              <div class="segments horizontal ui">
                <div class="ui segment">
                  <a href="" class="ui cancel mini yellow button">No</a>
                </div>
                <div class="ui segment">
                  <form action="/income/<%= income._id %>?_method=DELETE " method="POST">
                    <button class="ui negative button ">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  