<% layout('layouts/boilerplate') %>




<div class="ui raised segments">
    <div class="ui segment green">
        <p class="ui huge header">
            <%= cropInflow.income %>
        </p>
    </div>
    <div class="ui piled segments">
        <div class="ui yellow segment">
            <p>
                <%= cropInflow.date.toDateString() %>
            </p>
        </div>
        <div class="ui segment">
            <p>
                <%= cropInflow.amount %>
            </p>
        </div>
        <div class="ui segment">
            <p>
                <%= cropInflow.note %>
            </p>
        </div>
    </div>
    <div class="ui segment">
        <img class="ui centered  image" src="<%= cropInflow.image %>">
    </div>
</div>

<a class="button small ui green" href="/report/finance/crop">Back<i class=" yellow caret square right outline float right icon"></i></a>

