<% layout('layouts/boilerplate') %>
<div class="ui segment">
 <a class="ui green button" href="/crop/new">Add a Crop</a>
    
    <div class="ui centered form">
<form  action="/crop" method="GET">
      <div class="ui right floated input">
        <input type="text" placeholder="Search..." name="search" />
      </div>
      <button class="ui tiny button" type="submit"> <i class="search icon"></i></button>
    </form>
    </div>
</div>
   
<div class="ui grid stackable padded">
    <% for(let crop of crops.docs){ %>
        <div class="eight wide computer eight wide tablet sixteen wide mobile column">
<div class="ui green raised segment">
    <div class="ui  very relaxed styled unstackable items">
        <div class="item">
            <% if (crop.image.url){ %>
                <a href="/crop/<%= crop._id %>" class="ui tiny image">
                    <img src="<%= crop.image.url %>">
                </a>
                <% } else{%>
                    <a href="/crop/<%= crop._id %>" class="ui tiny image">
                        <img
                            src="https://images.unsplash.com/photo-1520564431999-5b020993cb07?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzR8fGxpdmVzdG9ja3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                    </a>
                    <% } %>
    
                        <div class="middle aligned content">
                            <div class="header">
    
                                <%= crop.crop %>
                                    <a href="/crop/<%= crop._id %>"><i
                                            class=" green caret square right outline float right icon"></i></a>
    
    
                            </div>
                            <div class="extra">
                                <%= crop.date.toDateString() %>
                            </div>
                        </div>
        </div>
    
    </div>
</div>

      </div> 

        <%} %>
</div>
        <% if (crops.totalPages> 1) {%>
            <div class="ui   grid">
                <div class="ui eleven wide column centered">
                    <div class="ui raised segment">
                        <% if (crops.prevPage) {%>
                            <a class="ui green button" href="/crop?page=<%= crops.prevPage %> ">Prev</a>
                            <% } %>
                                <%for (let i=1; i <=crops.totalPages; i++) {%>
        
                                    <a href="/crop?page=<%= i %>" <%=i===crops.page ? "style = color:yellow;"
                                        : "style = color:green;" %>
                                        ><%= i %> </a>
                                    <% } %>
                                        <% if (crops.nextPage ) {%>
                                            <a class="ui green button"
                                                href="/crop?page=<%= crops.nextPage %> ">Next</a>
                                            <% } %>
                    </div>
                </div>
            </div>
            <% } %>