<% layout('layouts/boilerplate') %>


    <% let totalExpense=0; %>
    <a class="button green ui" href="/expense/new">Add an Expense</a>
            
    <%- include('../partials/animalexpense') %>
    <h1 class=" ui header center aligned"> Livestock Expense</h1>
            <table class="ui celled selectable unstackable table">
                <thead>
                    <tr>
                        <th>Expense</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th class="right aligned">Action</th>

                    </tr>
                </thead>
                <% for(let expense of expenses.docs){ %>
                    <tbody>
                        <tr>
                            <td>
                                <%= expense.expense %>
                            </td>

                            <td>
                                <%=  expense.date.toDateString()  %>
                            </td>


                            <td>
                                <%= expense.amount %>
                            </td>

                            <td class="right aligned">
                                <a href="/expense/<%= expense._id %>"><i
                                        class=" green caret square right outline float right icon"></i></a>
                            </td>

                        </tr>
                        <% expense.amount !==undefined ?  totalExpense  +=expense.amount : totalExpense +=0 %>
                            <% } %>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td>
                                        <%= totalExpense %>
                                    </td>
                                    <td></td>
                                </tr>
            </table>

             <% if (expenses.totalPages > 1) {%>
<div class="ui   grid">
  <div class="ui eleven wide column centered">
    <div class="ui raised segment">
      <% if (expenses.prevPage) {%>
        <a class="ui green button" href="/expense?page=<%= expenses.prevPage %> ">Prev</a>
        <% } %> 
  <%for (let i = 1; i <= expenses.totalPages; i++) {%>
    
    <a href="/expense?page=<%= i %>"
      <%= i === expenses.page ? "style = color:yellow;" : "style = color:green;" %> 
      ><%= i %> </a>
  <%  }  %> 
      <% if (expenses.nextPage ) {%>
        <a class="ui green button" href="/expense?page=<%= expenses.nextPage %> ">Next</a>
        <% } %>
    </div>
  </div>
</div>
<% } %>