<% layout('layouts/boilerplate') %>
<div class="ui   grid">
    <div class="ui eleven wide column centered">
        <a class="ui green button" href="/breeder">Back</a>
        <div class="ui raised segment">
            <form class="myFormValidate" action="/breeder/<%= breeder._id %>?_method=PUT " method="POST" enctype="multipart/form-data">
                <div class="ui form">


                    <div class="field required">
                        <label for="tag"> Tag No </label>
                        <input type="text" id="tag" name="breeder[tag]" value="<%= breeder.tag %>">
                    </div>
                    <div class="field required">
                        <label for="variety">Breed</label>
                        <input type="text" id="variety" name="breeder[breed]" value="<%= breeder.breed %>">
                    </div>
                    <div class="field required">
                        <label for="sire">Sire</label>
                        <input type="text" id="sire" name="breeder[sire]" value="<%= breeder.sire %>">
                    </div>
                    <div class="field required">
                        <label for="dam">Dam</label>
                        <input type="text" id="dam" name="breeder[dam]" value="<%= breeder.dam %>">
                    </div>
                    
                        <div class="ui form">
                            <div class="field">
                                <label for="sex">Sex</label>
                                <select id="sex" name="breeder[sex]" class="ui search dropdown">
                                  <option value="Male"  <%= breeder.sex === 'Male' ? 'selected' : '' %>>Male</option>
                                    <option value="Female" <%= breeder.sex === 'Female' ? 'selected' : '' %>>Female</option>
                                    <option value="Other"  <%= breeder.sex === 'Other' ? 'selected' : '' %>>Other</option>
                                    </select>
                                    </div>
                                    </div>

                   
                
                    <div class="field ">
                        <label for="image">Image</label>
                        <input type="file" id="image" name="image" value="<%= breeder.image.url %>" >
                    </div>
                    <div class="field required">
                        <label for="description">Brief Description</label>
                        <textarea name="breeder[description]" id="description" cols="30" rows="3"  ><%= breeder.description %></textarea>
                    </div>
                    <button class="ui button fluid green">Save</button>
                </div>
                <div class="ui error message"></div>
            </form>

        </div>
    </div>
</div>





    