<% layout('layouts/boilerplate') %>
<div class="ui   grid">
    <div class="ui eleven wide column centered">
        <a class="ui btn button" href="/breeder">Back</a>
        <div class="ui raised segment">
            <form class="myFormValidate" action="/breeder/<%= breeder._id %>?_method=PUT " method="POST" enctype="multipart/form-data">
                <div class="ui form">


                    <div class="field required">
                        <label for="tag"> Tag No </label>
                        <input type="text" id="tag" name="breeder[tag]" value="<%= breeder.tag %>" readonly>
                    </div>
                    <div class="field required">
            <label for="name">Name</label>
            <select name="breeder[name]" id="name" class="ui dropdown search">
              <option value="<%= breeder.name %> ">
                <%= breeder.name %>
              </option>
              <option value="Chicken">Chicken</option>
               <option value="Turkey">Turkey</option>
              <option value="Ostrich">Ostrich</option>
              <option value="Guinea Fowl">Guinea Fowl</option>
               <option value="Pig">Pig</option>
              <option value="Catfish">CatFish</option>
              <option value="Cattle">Cattle</option>
              <option value="Sheep">Sheep</option>
              <option value="Goat">Goat</option>
              <option value="Rabbit">Rabbit</option>
              <option value="Snail">Snail</option>
              <option value="Grasscutter">Grasscutter</option>
              <option value="Horse">Horse</option>
              <option value="Donkey">Donkey</option>
              <option value="Guinea Pig">Guinea Pig</option>
            </select>
          </div>
                    <div class="field required">
                        <label for="variety">Breed</label>
                        <input type="text" id="variety" name="breeder[breed]" value="<%= breeder.breed %>">
                    </div>
                    <div class="field">
                        <label for="sire">Sire</label>
                        <input type="text" id="sire" name="breeder[sire]" value="<%= breeder.sire %>">
                    </div>
                    <div class="field">
                        <label for="dam">Dam</label>
                        <input type="text" id="dam" name="breeder[dam]" value="<%= breeder.dam %>">
                    </div>



                     <div class="field required">
            <label for="category">Category</label>
            <select
              name="breeder[category]"
              id="status"
              class="ui dropdown search"
            >
              <option value="<%= breeder.category %> ">
                <%=breeder.category %>
              </option>
              <option value="Poultry">Poultry</option>
              <option value="Fishery">Fishery</option>
              <option value="Ruminant">Ruminant(Cattle, Sheep, Goat...)</option>
              <option value="Non-Ruminant">Non-Ruminant(Pig, Rabbit, Snail...)</option>
            </select>
          </div>
                    
                        <div class="ui form">
                            <div class="field">
                                <label for="sex">Sex</label>
                                <select id="sex" name="breeder[sex]" class="ui search dropdown">
                                  <option value="Male"  <%= breeder.sex === 'Male' ? 'selected' : '' %>>Male</option>
                                    <option value="Female" <%= breeder.sex === 'Female' ? 'selected' : '' %>>Female</option>
                                    <option value="Other"  <%= breeder.sex === 'Other' ? 'selected' : '' %>>Other</option>
                                    </select>
                                    </div>
                                    </div>

                                         <div class="field required">
            <label for="dob">DOB</label>
            <input type="date" id="dob" name="breeder[dob]" value="<%= dob %>" />
          </div>
                
                    <div class="field ">
                        <label for="image">Image</label>
                        <input type="file" id="image" name="image" value="<%= breeder.image.url %>" >
                    </div>
                    <div class="field required">
                        <label for="description">Brief Description</label>
                        <textarea name="breeder[description]" id="description" cols="30" rows="3"  ><%= breeder.description %></textarea>
                    </div>
                    <button class="ui button fluid btn">Save</button>
                </div>
               
            </form>

        </div>
    </div>
</div>





    