<% layout('layouts/boilerplate') %>

 <%- include('../partials/animalEvent') %>
 <a class="button btn ui" href="/event/new">Add an Event</a>

 <h1 class="ui center aligned header">Livestock Event</h1>
<table class="ui celled selectable unstackable table">
        <thead>
            <tr>
                <th class=" color-green">Event</th>
                <th class=" color-green">Date</th>
                <th class=" color-green">Leader</th>
                <th class=" color-green">Remark</th>
                <th class="right aligned color-green">Action</th>
    
            </tr>
        </thead>
        <% for(let event of events.docs){ %>
            <tbody>
                <tr>
                    <td>
                        <%= event.event %>
                    </td>
                    <td>
                        <%= event.date.toDateString()%>
                    </td>
                    <td>
                        <%= event.leader %>
                    </td>
                    <td>
                        <%= event.note %>
                    </td>
                    <td>
                        <a href="/event/<%= event._id %>"><i
                                class=" green caret square right outline float right icon"></i></a>
                    </td>
                </tr>
                <% } %>
    
    </table>
   

<% if (events.totalPages > 1) {%>
  <div class="ui   grid">
  <div class="ui eleven wide column centered">
<div class="ui small basic icon buttons">
   <% if (events.prevPage) {%>
  <a class="ui btn page-num button" href="/event?page=<%= events.prevPage %> "><i class="left  chevron icon"></i></a>
  <% } %>
  <%for (let i = 1; i <= events.totalPages; i++) {%>
  <a class="ui btn button page-num   " href="/event?page=<%= i %>"
     <%= i===events.page ? "style = color:yellow!important;" : "style = color:white!important;"%> ><%= i %></a>
      <% } %>
      <% if (events.nextPage ) {%>
  <a class="ui btn page-num button"  href="/event?page=<%= events.nextPage %> "><i class="right chevron icon"></i></a>
  <% } %>
</div>
</div>
</div>
<% } %>